cache/
artifacts/

coverage*
typechain/

.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

node_modules/
.env
ERC721Metadata

.yalc
yalc.lock

contractsInfo.json

/.dapp
temp
src/Assets/ERC20/EgoV1.sol
src/Assets/ERC20/LocalEgo.sol

assets

deployments



./tasks/utils/temp

./tasks/temp

assets